* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #000000;
  background-color: #f3f1ef;
}

ul,
ol {
  list-style-type: none;
}

a, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}

a:focus,
button:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bounding-container {
  width: calc(100vw - 40px);
  max-width: 1800px;
  margin: 0 auto;
  padding: 70px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.overflow--hidden {
  overflow-y: hidden;
}
