.page-footer {
    text-align: center;
}

.page-footer .bounding-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
}

.page-footer__content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 20px;
}

.page-footer__content-list div:first-child {
    grid-row: span 2;
}

.page-footer__content-list div:last-child {
    align-self: end;
}

.page-footer__content-list dt {
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1;
}

.page-footer__content-list div:last-child dd {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-footer a {
    display: block;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.page-footer__navigation-link {
    margin-bottom: 10px;
}

.page-footer__navigation-link:last-child {
    margin-bottom: 0;
}

.page-footer a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000000;
    transition: width .25s linear;
}

@media screen and (width >= 1024px) {
    .page-footer .bounding-container {
        flex-direction: row;
        justify-content: space-between;
        gap: calc((100% - 961px) / 3);
    }

    .page-footer__logo {
        flex: 0 0 321px;
    }

    .page-footer__content-list {
        width: calc(100% - 341px);
        grid-template-columns: repeat(3, 200px);
        justify-content: space-between;
        padding-top: 1em;
    }
}

@media (hover: hover) and (pointer: fine) {
    .page-footer a:hover::after {
        width: 100%;
    }
}